body {
  background-color: white;
  color: black;
  font-family:arial;
  max-width:1000px;
  padding: 10px 100px;
  line-height:1.4;
  text-align: left;
  width: 800px;
  margin: 0 auto;
}
}

a {
  color: black;
  
  
  }

.nom {
  text-align: center;
}

.vincent {
  font-size: 20pt
}

.journaliste {
  font-size: 16pt
}

.portrait {
    width: 90%;
    max-width: 200px;
    border-radius: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
    margin-bottom: 0px;
}

.contact{
  text-align: center;
}


      
.column {
  float: left;
  width: 40%;
  padding: 35px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;}

  .citation {
    margin-top: 30px;
      margin-bottom:30px;
    text-align: center;
  }
  


.titre2 {
  font-size: 18pt;
    font-weight: bold;
      margin-top: 40px;

}

.lead {font-size:12pt}

.sourcephoto {font-size: 8pt}

.separateur {
      margin-top: 20px;
      margin-bottom:20px;
      
  }
.twitter-timeline {
  max-width:40px;
  max-height:500px
  
   
      
}