body {
  background-color: white;
  color: black;
  font-family:arial;
  max-width:1000px;
  margin: 200 auto;
  padding: 100px 100px;
  line-height:1.4;
  text-align: left;
  width: 800px;
  margin: 0 auto;
}
}

a {
  color: black;
  
  
  }

.nom {
  text-align: center;
}

.vincent {
  font-size: 18pt
}

.journaliste {
  font-size: 16pt
}

.contact{
  text-align: center;
}

.titre2 {
  font-size: 16pt;
    font-weight: bold
}

.twitter-timeline {
  max-width:40px;
  max-height:500px
  
      
}